<footer class="footer">
  <div class="footer__container">
    <div class="footer__left">
      <div class="footer__logo">
        <div class="footer__logo-backgr">
          <img src="./images/logo_foot.svg" alt="Food Boutique logo" class="footer__logo-clss" />
        </div>
        <span>Food Boutique</span>
      </div>
      <div class="footer__socials">
        <a href="#"><img src="./images/icon-facebook.svg" alt="Facebook" /></a>
        <a href="#"><img src="./images/icon-instagram.svg" alt="Instagram" /></a>
        <a href="#"><img src="./images/icon-youtube.svg" alt="YouTube" /></a>
      </div>
    </div>
    <div class="footer__center">
      <h2>Discover the Variety of <br />Flavors and Quality</h2>
      <p>
        An online store where you will find fresh, natural and delicious products for a healthy life and unforgettable
        gastronomic adventures.
      </p>
    </div>
    <div class="footer__right">
      <p class="footer__subscribe-text">Subscribe and learn about new products!</p>
      <form class="footer__form">
        <input type="email" placeholder="Email" />
        <button type="submit" class="footer__form-btn">Send</button>
      </form>
    </div>
  </div>
  <div class="footer__bottom">
    <span>Food Boutique. All rights reserved.</span>
    <div class="footer__links">
      <a href="#">Privacy Policy</a> /
      <a href="#">Terms of Service</a>
    </div>
  </div>
</footer>