<header class="header">
  <div class="container">
    <img
      src="./images/logo_header.svg"
      alt="Food Boutique"
      class="header__logo"
    />
    <div class="header__right">
      <a class="header__home btn" href="/">Home</a>
      <!-- <a class="header__home btn" href="/src/history.html">History</a> -->
      <a class="header__home btn" href="/src/team.html">Our team</a>
      <div class="header__cart">
        <a class="header__cartbtn btn" href="/src/cart.html"
          ><img src="images/cart.svg" alt="cart"
        /></a>
        <p class="header__text">Cart (<span class="cart-amount">0</span>)</p>
      </div>
    </div>
  </div>
</header>
