<section class="intro">
  <div class="container">
    <h1 class="intro__title">
      Welcome to the <span class="intro__title--style">Food</span> Boutique!
    </h1>

    <h3 class="intro__subtitle">
      With Food Boutique, you're not just subscribing to food, you're <br>
      signing up for a fresher, fitter, and happier you.
    </h3>
    <div class="intro__image-container">

      <div class="intro__circle-container">
        <img src="./icons/icon-organic-food.png" alt="vegatables" />
      </div>
    </div>
    <div class="intro__filters-container">
      <h3 class="intro__filters-subtitle">Filters:</h3>
      <div class="intro__container-allfilters">
        <div class="intro__container-search">
          <input
            type="text"
            class="intro__search-input"
            id="search"
            placeholder="Search for anything"
          />
          <button class="intro__btn-search">
            <img src="./icons/search.png" alt="search" />
          </button>
        </div>
        <div class="intro__container-select">
          <select class="intro__select" name="categories" id="categories">
          
          </select>
        </div>
        <div class="intro__conatiner-sortby">
          <select class="intro__sortby" name="sort-by" id="sort-by">
            <option value="byABC_Asc">A to Z</option>
            <option value="byABC_Desc">Z to A</option>
            <option value="byPrice_Asc">Cheap</option>
            <option value="byPrice_Desc">Expensive</option>
            <option value="byPopularity_Desc">Popular</option>
            <option value="byPopularity_Asc">Not popular</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</section>
