<div class="modal">
  <div class="modal__box">
    <span class="modal__close">x</span>
    <h4 class="modal__title"></h4>
    <div class="modal__subbox">
      <ul class="modal__list">
        <li class="modal__card-item">
          Category: <span class="modal__card-span">Pantry Items</span>
        </li>
        <li class="modal__card-item">
          Size: <span class="modal__card-span">100g</span>
        </li>
        <li class="modal__card-item">
          Popularity: <span class="modal__card-span">19710</span>
        </li>
      </ul>
      <p class="modal__desc"></p>
      <div class="modal__image-box"><img src="" alt="" /></div>
    </div>
    <div class="modal__buying-box">
      <span class="modal__price"></span>
      <button class="modal__buy-btn">Add to 🧺</button>
    </div>
  </div>
</div>
