<section class="products">
    <div class="container products">
        <div class="products__all">
            <div class="products__items">
                <!-- Product items will be dynamically generated here -->
            </div>
            <div class="products__pagination"></div>
        </div>
        <div class="productsPopDisc">
            <h2 class="subtitles">Popular products</h2>
        <div class="products__popular">
            
            <!-- Product items will be dynamically generated here -->
        </div>
        <h2 class="subtitles__disc">Discount products</h2>
        <div class="products__discount">
            <!-- Product items will be dynamically generated here -->
        </div>
        </div>
    </div>
</section>