.cart {
  user-select: none;

  .del-btn {
    background: #bb2124;
  }

  &__icon {
    background: $green-dark;
    border-radius: 30px;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;

    &-box {
      pointer-events: none;
      display: flex;
      align-items: center;
      gap: 18px;
    }
  }

  &__title {
    padding: 3px;
    font-weight: 500;

    &--green {
      background: $green-dark;
      color: white;
    }
  }

  &__empty {
    pointer-events: none;

    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
    text-align: center;
  }

  &__objective {
    font-weight: 400;
  }

  &__green {
    color: $green-dark;
  }

  &__list {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-bottom: 25px;
  }

  &__item {
    flex-direction: column;
    padding: 15px;
    background: $white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 15px;
  }

  &__amount {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid $gris-dark;
    background: $gris-dark;
    color: white;
    border-radius: 50px;

    &-num {
      font-size: 18px;
    }

    .btn {
      width: 38px;
      padding: 0;
    }
  }

  &__firstinfo * {
    font-size: 24px;
  }

  &__name {
    font-weight: 700;
  }

  &__property {
    line-height: 24px;

    &-text {
      color: $gris-light;
    }
  }

  &__checkout {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    margin-bottom: 25px;
  }
}